{% extends "base.xml.j2" %}
{% block sessions %}
    <session probability="100" name="install-basic-application" type="ts_http">
        <transaction>
            <request>
                <http
                    url="install"
                    method="POST"
                    contents="
                        username=benrudolph
                        domain=aspace
                    "></http>
            </request>
        </transaction>
    </session>
{% endblock %}
